@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

body {
  background: linear-gradient(90deg, #30cfd0 0%, #330867 99.61%) repeat;
  height: 100vh; }

h1 {
  font-size: 28px;
  font-weight: 700; }

h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px; }

.container {
  max-width: 1140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin: 0 auto; }

.desсr {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 15px; }
  .desсr__text {
    text-align: justify;
    line-height: 1.4; }

.text_bottom {
  transform: translateY(20px);
  opacity: 0;
  transition: all 800ms ease-out; }

.about {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 25px 0; }
  .about__me {
    width: 40%;
    margin-left: 40px; }
  .about__photo {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto; }
  .about__photo_animte {
    opacity: 0;
    transition: all 900ms; }
  .about__list {
    margin-top: 25px;
    list-style: square; }
  .about__list-item {
    line-height: 21px;
    margin: 17px 0; }
  .about__skills {
    margin-top: 25px;
    width: 40%; }

.works {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px; }
  .works__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
  .works__card {
    width: 32.5%;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background: #ffffff;
    margin-bottom: 20px; }
  .works__card_animte-left {
    transform: translateX(-20px) scale(0.9);
    opacity: 0;
    transition: 600ms opacity linear, 1400ms transform ease, 300ms scale linear; }
  .works__card_animte-bottom {
    transform: translateY(20px) scale(0.9);
    opacity: 0;
    transition: 600ms opacity linear, 1400ms transform ease, 300ms scale linear; }
  .works__card_animte-right {
    transform: translateX(20px) scale(0.9);
    opacity: 0;
    transition: 600ms opacity linear, 1400ms transform ease, 300ms scale linear; }
  .works__card_wide {
    width: 100%;
    display: flex;
    align-items: center; }
  .works__descr {
    padding: 15px; }
  .works__card-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 98px;
    height: 98px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block; }
  .works #tetris {
    background-image: url(../img/tetris.png);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
  .works #tetris:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .works #dino {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../img/dino.png); }
  .works #dino:hover {
    -webkit-filter: grayscale(0%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: grayscale(0%); }
  .works #bookkeeping {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../img/bookkeeping.png); }
  .works #bookkeeping:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .works #myshop {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../works/myshop/shop.png);
    flex-shrink: 0; }
  .works #myshop:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .works #hiking {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../works/hiking/mountain.png);
    flex-shrink: 0; }
  .works #hiking:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .works #rocket {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    background-image: url(../works/rocket/rocket.png);
    flex-shrink: 0;
    width: 70px;
    height: 98px; }
  .works #rocket:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .works h3 {
    text-align: center;
    margin-bottom: 5px; }
  .works__text {
    padding: 0 15px; }
  .works__text_wide {
    max-width: 660px; }
  .works__btn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .works__github-btn {
    display: flex;
    justify-content: center;
    margin: 10px 10px; }
  .works__github {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    background-color: #516e8c;
    border: none;
    border-radius: 6px;
    min-width: 115px;
    padding: 5px 10px;
    margin: 0px auto;
    outline: none;
    cursor: pointer; }
  .works__github-img {
    display: block;
    float: left; }
  .works__github-text {
    float: left;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    margin-left: 10px; }
  .works__github-text-bold {
    font-weight: 700;
    font-size: 12px; }
  .works hr {
    height: 2px;
    background-color: #e5e5e5;
    border: 0px none; }

.footer {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px; }
  .footer img {
    display: block; }
  .footer__link {
    opacity: 0;
    transform: scale(0.5);
    transition: all 600ms ease-out; }

.animated {
  transform: translate(0) scale(1);
  opacity: 1; }

@media (max-width: 1200px) {
  .container {
    max-width: 1000px; }
  .works__text {
    font-size: 14px; }
  .works__text_wide {
    max-width: 500px; } }

@media (max-width: 900px) {
  * {
    font-size: 16px; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 22px; }
  .works__text_wide {
    max-width: 360px; } }

@media (max-width: 670px) {
  .about {
    padding-bottom: 14px; }
    .about__photo {
      width: 200px;
      margin: 20px auto; }
    .about__list-item {
      margin: 14px 0; }
  .works {
    width: 90%; }
    .works__card {
      width: 32%; }
    .works__card_wide {
      width: 100%; } }

@media (max-width: 620px) {
  * {
    font-size: 14px; }
  .about {
    padding-bottom: 14px; }
    .about__list-item {
      margin: 12px 0; }
  .works__text {
    font-size: 12px; }
  .works__card-img {
    width: 90px;
    height: 90px; }
  .works__text_wide {
    max-width: 300px; }
  .footer img {
    width: 32px; } }

@media (max-width: 540px) {
  .about {
    flex-direction: column;
    align-items: center; }
    .about__me {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%; }
    .about__photo {
      width: 180px;
      height: 100%;
      margin: 0; }
    .about__skills {
      width: 83%; }
    .about__list-item {
      margin: 5px 0; }
  .works__card_wide {
    flex-direction: column; }
  .works__text_wide {
    max-width: 100%; }
  .works__descr {
    padding: 0; } }

@media (max-width: 500px) {
  .about__me {
    margin: 0;
    width: 95%; }
  .works__wrap {
    flex-direction: column; }
  .works__card {
    width: 100%; }
  .works h3 {
    font-size: 24px; }
  .works__text {
    font-size: 16px;
    padding: 15px 25px; } }

@media (max-width: 460px) {
  .about__me {
    width: 100%;
    flex-direction: column; }
  .about__photo {
    margin-bottom: 25px; }
  .about__me-text {
    width: 100%;
    padding-left: 35px; }
  .about__skills {
    width: 100%;
    padding-left: 35px; } }
