* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }

body {
  background: linear-gradient(90deg, #30CFD0 0%, #330867 99.61%) repeat;
  height: 100vh; }

h1 {
  font-size: 28px;
  font-weight: 700; }

h2 {
  font-size: 24px;
  font-weight: 700; }

.container {
  max-width: 1140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin: 0 auto; }

.about {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 25px 0; }
  .about__me {
    width: 40%;
    margin-left: 40px; }
  .about__photo {
    display: block;
    width: 250px;
    height: auto;
    margin: 0 auto; }
  .about__list {
    margin-top: 25px;
    list-style: square; }
  .about__list-item {
    line-height: 21px;
    margin: 17px 0; }
  .about__skills {
    margin-top: 25px;
    width: 40%; }

.works {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px; }
  .works__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
  .works__card {
    width: 30%;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background: #FFFFFF;
    margin-bottom: 20px; }
  .works__card-img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 98px;
    height: 98px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block; }
  .works #tetris {
    background-image: url(../img/tetris-black.png); }
  .works #tetris:hover {
    background-image: url(../img/tetris.png); }
  .works #dino {
    background-image: url(../img/dino-black.png); }
  .works #dino:hover {
    background-image: url(../img/dino.png); }
  .works #bookkeeping {
    background-image: url(../img/bookkeeping-black.png); }
  .works #bookkeeping:hover {
    background-image: url(../img/bookkeeping.png); }
  .works h3 {
    text-align: center;
    margin-bottom: 5px; }
  .works__text {
    padding: 0 15px; }
  .works__github-btn {
    display: flex;
    justify-content: center; }
  .works__github {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    background-color: #516E8C;
    border: none;
    border-radius: 6px;
    min-width: 115px;
    padding: 5px 10px;
    margin: 10px auto;
    outline: none;
    cursor: pointer; }
  .works__github-img {
    display: block;
    float: left; }
  .works__github-text {
    float: left;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    margin-left: 10px; }
  .works__github-text-bold {
    font-weight: 700;
    font-size: 12px; }
  .works hr {
    height: 2px;
    background-color: #E5E5E5;
    border: 0px none; }

.footer {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px; }
  .footer img {
    display: block; }

@media (max-width: 1200px) {
  .container {
    max-width: 1000px; }
  .works__text {
    font-size: 14px; } }

@media (max-width: 900px) {
  * {
    font-size: 16px; }
  h1 {
    font-size: 24px; }
  h2 {
    font-size: 22px; } }

@media (max-width: 670px) {
  .about {
    padding-bottom: 14px; }
    .about__photo {
      width: 200px;
      margin: 20px auto; }
    .about__list-item {
      margin: 14px 0; }
  .works {
    width: 90%; }
    .works__card {
      width: 32%; } }

@media (max-width: 620px) {
  * {
    font-size: 14px; }
  .about {
    padding-bottom: 14px; }
    .about__list-item {
      margin: 12px 0; }
  .works__text {
    font-size: 12px; }
  .works__card-img {
    width: 90px;
    height: 90px; }
  .footer img {
    width: 32px; } }

@media (max-width: 540px) {
  .about {
    flex-direction: column;
    align-items: center; }
    .about__me {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%; }
    .about__photo {
      width: 180px;
      height: 100%;
      margin: 0; }
    .about__skills {
      width: 83%; }
    .about__list-item {
      margin: 5px 0; } }

@media (max-width: 500px) {
  .about__me {
    margin: 0;
    width: 95%; }
  .works__wrap {
    flex-direction: column; }
  .works__card {
    width: 100%; }
  .works h3 {
    font-size: 24px; }
  .works__text {
    font-size: 16px;
    padding: 15px 25px; } }

@media (max-width: 460px) {
  .about__me {
    width: 100%;
    flex-direction: column; }
  .about__photo {
    margin-bottom: 25px; }
  .about__me-text {
    width: 100%;
    padding-left: 35px; }
  .about__skills {
    width: 100%;
    padding-left: 35px; } }
